
body{
	background-color: #118E07;
	background: linear-gradient(to bottom right, #36730A, #06580A);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	font-size: 65px;
	color: white;	
	width: 1200px;
	margin: 0 auto;
	/*margin-top: 100px;*/
}

#contenedor{
	width: 930px;
	height: 650px;
	background: url("../img/meet-coders.jpg");
	background-size: 930px 650px;
	background-repeat: no-repeat;
	position: relative;
}
.codigo{
	width: 300px;
	height: 65px;
	position: absolute;
	left: 200px;
	top: 40px;
}

.todo{
	width: 1200px;
	height: 650px;
	position: relative;
	background:	linear-gradient(120deg, rgba(204,38,204,0) 0%, 
		rgba(19,19,19,0) 46%, 
		rgba(43,40, 43,1) 35%,
		rgba(43,40, 43,1) 100%);
}
.logo{
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 0;
	right: 0;
	/*z-index: 200;*/

}
.data{
	position: absolute;
	/*background-color: #44DE48;*/
	top: 120px;
	right: 60px;
	text-align: center;

}
.name{
	font-family: 'Kurale', serif;
	/*background-color: #E92A2A;*/
	line-height: 1;

}
.developer{
	font-size: 26px;
	color: #F97C0D;
	line-height: 3.5;
}
.contacto{
	/*background-color: #2E8BEA;*/
	position: absolute;
	bottom: 150px;
	right: 100px;
	font-size: 25px;
}
